<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelead.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina de Inicio</title>
    </head>

    <body>
        <h1>Inicio</h1>
        <p th:text="${hola}"></p>
        <p th:text="${hola2}"></p>
        <br />
        <div th:if="${individuos != null and !individuos.empty}">
            <table border="2">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                </tr>
                <tr th:each="individuo : ${individuos}">
                    <td th:text="${individuo.nombre}">Muestra Nombre</td>
                    <td th:text="${individuo.apellido}">Muestra Apellido</td>
                    <td th:text="${individuo.edad}">Muestra Edad</td>
                    <td th:text="${individuo.correo}">Muestra Correo</td>
                    <td th:text="${individuo.telefono}">Muestra Telefono</td>
                </tr>
            </table>
        </div>
        <div th:if="${individuos == null or individuos.empty}">
            La lista no tiene informacion
        </div>
    </body>

</html>