<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelead.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina de Inicio</title>
    </head>

    <body>
        <h1>Inicio</h1>
        <p th:text="${hola}"></p>
        <p th:text="${hola2}"></p>
        <br/>
        Nombre: <span th:text="${individuo.nombre}">Muestra Nombre</span>
        <br />
        Apellido: <span th:text="${individuo.apellido}">Muestra Apellido</span>
        <br />
        Edad: <span th:text="${individuo.edad}">Muestra Edad</span>
        <br />
        Correo: <span th:text="${individuo.correo}">Muestra Correo</span>
        <br />
        Telefono: <span th:text="${individuo.telefono}">Muestra Telefono</span>
    </body>

</html>